$css-sprite-path: "~@/assets/images/flappy-bird/all.png";
$playground-width: 288px;
$playground-height: 400px;
$ground-height: 112px;
// for digits
$digits: (
    0: -992px -120px,
    1: -272px -910px,
    2: -584px -320px,
    3: -612px -320px,
    4: -640px -320px,
    5: -668px -320px,
    6: -584px -368px,
    7: -612px -368px,
    8: -640px -368px,
    9: -668px -368px,
);
$sm_digits: (
    0: -276px -646px,
    1: -282px -664px,
    2: -276px -698px,
    3: -276px -716px,
    4: -276px -750px,
    5: -276px -768px,
    6: -276px -802px,
    7: -276px -820px,
    8: -276px -854px,
    9: -276px -872px,
);

// Playground
#flappy-bird-wrapper {
    width: $playground-width;
    height: $playground-height + $ground-height;
    margin: 0 auto;
    overflow: hidden;

    // Pipe
    ::v-deep .pipe-wrapper {
        width: 52px;
        height: 100%;
        position: absolute;
        user-select: none;
        right: -52px;
        overflow: hidden;

        .pipe {
            position: absolute;
            left: 0;
            border: 0;
            &.pipe-top {
                background: url($css-sprite-path) no-repeat -112px -646px;
                width: 52px;
                height: 320px;
                top: -290px;
            }
            &.pipe-bottom {
                background: url($css-sprite-path) no-repeat -168px -646px;
                width: 52px;
                height: 320px;
                top: 70px;
            }
        }
    }

    ::v-deep #game-over-panel {
        position: relative;
        z-index: 1;
        width: 100%;
        top: -440px;
        #game-over-title {
            background: url($css-sprite-path) no-repeat -784px -116px;
            width: 204px;
            height: 54px;
            margin: auto;
        }

        // for digits
        #current-score-box {
            text-align: center;
            margin-bottom: 10px;

            .label-new {
                position: relative;
                top: -28px;
                left: 1px;
            }
        }
    }
}
#background {
    width: $playground-width;
    height: $playground-height;
    position: relative;
    &.daylight {
        background: url($css-sprite-path) no-repeat 0 0;
    }
    &.night {
        background: url($css-sprite-path) no-repeat -292px 0;
    }
}
#ground {
    background: url($css-sprite-path) no-repeat -584px 0;
    height: $ground-height;

    ::v-deep #best-score-box {
        position: relative;
        top: 94px;
        padding-right: 4px;
        text-align: end;
    }
}

@each $key, $value in $digits {
    ::v-deep .digit-#{$key} {
        display: inline-block;
        background: url($css-sprite-path) no-repeat $value;
        @if $key == 1 {
            width: 16px;
        } @else {
            width: 24px;
        }
        height: 36px;
    }
}

@each $key, $value in $sm_digits {
    ::v-deep .digit-sm-#{$key} {
        display: inline-block;
        background: url($css-sprite-path) no-repeat $value;
        @if $key == 1 {
            width: 6px;
        } @else {
            width: 12px;
        }
        height: 14px;
    }
}

// new score tag
::v-deep .label-new {
    display: inline-block;
    background: url($css-sprite-path) no-repeat -224px -1002px;
    width: 32px;
    height: 14px;
}

// Bird
::v-deep .bird {
    width: 34px;
    height: 24px;
    position: absolute;
    background: url($css-sprite-path) no-repeat -6px -982px;
    animation: bflying 0.8s steps(2) infinite both;
}
@keyframes bflying {
    50% {
        background-position-x: -118px;
    }
}