$css-sprite-path: "~@/assets/images/flappy-bird/all.png";
$playground-width: 288px;
$playground-height: 400px;
$ground-height: 112px;

// Playground
#flappy-bird-wrapper {
    width: $playground-width;
    height: $playground-height + $ground-height;
    margin: 0 auto;
    overflow: hidden;

    // Pipe
    ::v-deep .pipe-wrapper {
        width: 52px;
        height: 100%;
        position: absolute;
        user-select: none;
        right: -52px;
        overflow: hidden;

        .pipe {
            position: absolute;
            left: 0;
            border: 0;
            &.pipe-top {
                background: url($css-sprite-path) no-repeat -112px -646px;
                width: 52px;
                height: 320px;
                top: -290px;
            }
            &.pipe-bottom {
                background: url($css-sprite-path) no-repeat -168px -646px;
                width: 52px;
                height: 320px;
                top: 70px;
            }
        }
    }

    // Bird
    ::v-deep .bird {
        width: 34px;
        height: 24px;
        position: absolute;
        background: url($css-sprite-path) -230px -658px;
    }

    ::v-deep #game-over-panel {
        position: relative;
        z-index: 1;
        width: 100%;
        top: -380px;
        #game-over-title {
            background: url($css-sprite-path) no-repeat -784px -116px;
            width: 204px;
            height: 54px;
            margin: auto;
        }
    }
}
#background {
    width: $playground-width;
    height: $playground-height;
    position: relative;
    &.daylight {
        background: url($css-sprite-path) no-repeat 0 0;
    }
    &.night {
        background: url($css-sprite-path) no-repeat -292px 0;
    }
}
#ground {
    background: url($css-sprite-path) no-repeat -584px 0;
    height: $ground-height;
}
